.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.form {
  width: 600px;
}
.signup {
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.title {
  width: 80%;
  display: flex;
  margin: 0 auto;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text {
  display: block;
  margin: 0 auto;
  width: 80%;
  padding: 20px 0;
  text-indent: 15px;
  border-radius: 10px;
  height: 20px;
  border: 1px solid #dcdcdc;
  margin-bottom: 10px;
}
.edit--button {
  text-align: center;
}
textarea {
  width: 80%;
  margin: 0 auto;
  text-indent: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  resize: none;
}

.submit {
  text-align: center;
}
