th,
td {
  border: 2px solid #000;
  padding: 8px;
}

.icon {
  width: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pages {
  display: flex;
  justify-content: center;
}

span {
  cursor: pointer;
}

.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}
